@model StoreFrontLab.MVC.UI.Models.ContactEmailModel

@{
    ViewBag.Title = "Email Confirmation";
}

<div>
    <div>
        <h2>@ViewBag.Title</h2>
        <hr />
        <h4>I successful recieved the following message. I will respond back as soon as possible. Thank you for contacting me!</h4>
        <p>Name: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Subject: @Model.Subject</p>
        <p>Message: @Model.Message</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

