@model StoreFrontLab.DATA.EF.Manager

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerEmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerEmployeeID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
